.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #48b688;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #48b688;
}

.navbar {
    padding: 20px 1rem;
    display : flex;
    justify-content : flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 18px;
    color: #fff;
}

.header_section {
    width: 100%;
    float: left;
    background-color: #000000;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

#navbarNav {
    display : flex;
    justify-content : flex-end;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(caffe1.jpg);
    height: 100%;
    background-size: 100%;
    padding: 10px 0px 25px 0px;
    background-repeat: no-repeat;
}

.banner_taital {
    width: 100%;
    float: left;
    padding: 100px 0px;
}

.outstanding_text {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #48b688;
    padding-bottom: 0px;
}

.coffee_text {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #fdfcfa;
    font-weight: bold;
    padding-bottom: 0px;
}

.there_text {
    width: 50%;
    float: left;
    font-size: 16px;
    color: #fff;
    margin: 0px;
    padding-bottom: 30px;
}

.learnmore_bt {
    width: 170px;
}

.learnmore_bt a {
    width: 100%;
    float: left;
    padding-right: 0;
    background-color: #48b688;
    color: #fff;
    text-align: center;
    margin-right: 12px;
    height: 53px;
    padding: 15px 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.learnmore_bt a:hover {
    background-color: #f76d37;
    color: #fff;
}

#main {
    margin : 50px;
}