.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #f76d37;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f76d37;
}

.navbar {
    padding: 20px 1rem;
    display : flex;
    justify-content : flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 18px;
    color: #fff;
}

.header_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.img {
    min-height: 300px;
}

#navbarNav {
    display : flex;
    justify-content : flex-end;
}